:root{
    --nav-bg-color:#034bbd;
    --nav-title-color:white;
}
#NavBar{
    height:4.5em;
    background-color: var(--nav-bg-color);
    display:flex;
    justify-content: flex-start;
}
.navbar-title{
    display:flex;
    align-items: center;
    margin:0 0 0 20px;
    padding:0;
    color:var(--nav-title-color);
    font-size: 30px;
    font-weight: 400;
}